.button-custom {
  background-color: #ec7b00;
  border-radius: 25px;
  border: none;
  color: white;
  padding: 3px;

  &:hover {
    background-color: #ec7b00;
    opacity: 0.8;
  }
}

.selected-role {
  background-color: #5be670;
  &:hover {
    background-color: #5be670;
  }
}

.closing-button {
  background-color: #6c757d;
  border-radius: 25px;
  border: none;
  color: white;

  padding: 3px;
  &:hover {
    background-color: #6c757d;
    opacity: 0.7;
  }
}
