.button-custom {
  width: 130px;
  height: 40px;
  background-color: #ec7b00;
  border-radius: 25px;
  border: none;
  color: white;
  padding: 3px;

  a {
    color: white;
  }

  &:hover {
    background-color: #ec7b00;
    opacity: 0.8;
  }

}

.selected-role {
  background-color: #5be670;

  &:hover {
    background-color: #5be670;
  }
}

.closing-button {
  width: 130px;
  height: 40px;
  background-color: #6c757d;
  border-radius: 25px;
  border: none;
  color: white;

  padding: 3px;

  &:hover {
    background-color: #6c757d;
    opacity: 0.7;
  }
}

.button-card {
  width: 80px;
  height: 30px;
  background-color: #ec7b00;
  border-radius: 25px;
  border: none;
  color: white;
  padding: 3px;
  text-align: center;

  &:hover {
    background-color: #ec7b00;
    opacity: 0.8;
  }
}
