.message {

  .user-tag {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    justify-content: flex-end;
  }

  .other-user-tag {
    background-color: #0e1bdc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    justify-content: flex-start;
  }
}
