<%= link_to profile_path, :style=>'text-decoration: none; color: inherit' do %>
  <div class="my-user-card">
    <%= image_tag(current_user.banner, class: "my-user-card_banner") %>
    <%= image_tag(current_user.avatar, class: "my-user-card_avatar") %>
    <h2><%= current_user.name %></h2>
  </div>
<% end %>
