    <h2><strong><%= @user.name %></strong></h2>
    <h4><%= @user.city %></h4>
    <h6> Styles </h6>
    <h6> members</h6>
    <%# <ul>
       @user.members.each do |member|
        <li>  member[:nom] : member[instrument]  </li>
       end
    </ul> %>
    <h6> Socials</h6>
    <ul>
      <li>Facebook : </li>
      <li>Instagram : </li>
      <li>Twitter : </li>
    </ul>
    <% if @user != current_user %>
      <p>Contact : <%= @user.email %> </p>
    <% end %>

<%# @user.styles.join(", ") %>
