<% if @user.role == "act" %>
  <div id="events">
    <h3>Evénements à venir</h3>
    <% @events.each do |event| %>
      <%= render "events/event", event: event %>
    <% end %>
  </div>

<% elsif @user.role == "tenant" %>
  <div id="venues">
    <h3>Mes lieux</h3>
    <% @venues.each do |venue| %>
      <%= render "venues/venue", venue: venue %>
    <% end %>
  </div>
<% end %>
