    <h2 class="mb-3 fs-5"><%= @user.name %></h2>
    <p>( <%= @user.city %> )</p>
    <p> Styles </p>
    <p> members</p>
    <%# <ul>
       @user.members.each do |member|
        <li>  member[:nom] : member[instrument]  </li>
       end
    </ul> %>
    <p> Socials</p>
    <ul>
      <li>Facebook : </li>
      <li>Instagram : </li>
      <li>Twitter : </li>
    </ul>
    <% if @user != current_user %>
      <p>Contact : <%= @user.email %> </p>
    <% end %>

<%# @user.styles.join(", ") %>
