<div class="banner mb-4">
  <%= image_tag(@user.banner, class: "banner-img", alt: "Bannière de #{@user.name}") %>
  <%= image_tag(@user.avatar, class: "banner-avatar", alt: "Photo de profil de #{@user.name}") %>
</div>

<div class="container">
  <div class="row">
    <div class="user-info col-3 border-custom">
      <%= render "user-info" %>
    </div>
    <div class="user-content col-9">
      <%= render "user-content" %>
    </div>
  </div>
</div>
