<% if @participant_accepted %>
  <div  class="participant-custom">
    <h5 class="mb-4">Participants acceptés</h5>
    <div class="grid-custom">
      <% @participant_accepted.each do |participant| %>
          <%= render "users/participant-user-card", participant: participant %>
      <% end %>
    </div>
    <hr>
  </div>
<% end %>
