<div class="event-card">
  <img src="https://weezevent.com/wp-content/uploads/2018/08/27184514/organiser-un-concert-en-7-etapes.jpg" class="event-card_img" >
  <div class="card-body">
    <%= event.name %>
    <%= event.start_date %>
    <%= event.description %>
  </div>
</div>
