<div class="d-flex justify-content-between">

    <div class="col-3 side-bar p-3">
      <%= render "users/my-user-card"%>

      <div class="filters p-4">
        <p> FILTERS </p>
      </div>
    </div>
    <div class="col-9 results p-3">
      <h1>Evénements à venir proches de chez vous</h1>
      <% @events.each do |event| %>
        <%= render "event", event: event %>
      <% end %>
    </div>

</div>
