<div class="d-flex justify-content-between">
  <div class="row">
    <div class="col-3 side-bar">
      <%= render "users/my-user-card"%>

      <div class="filters p-4">
        <p> FILTERS </p>
      </div>
    </div>
    <div class="col-9 results">
      <h1>Evénements à venir proches de chez vous.</h1>
      <% @events.each do |event| %>
        <%= render "event", event: event %>
      <% end %>
    </div>
  </div>
</div>
