<div class="d-flex justify-content-between">
    <div class="col-3 sticky-custom">
      <div class="side-bar">
        <%= render "users/my-user-card"%>
      </div>
      <div class="filters p-4">
        <h5 class="mb-3"> Filtres </h5>
        <form action="/events" method="get">
          <div class="form-group mb-3">
            <label for="city">Ville</label>
            <input type="text" name="city" id="city" class="form-control">
          </div>
          <div class="form-group">
            <label for="style">Style</label>
            <input type="text" name="style" id="style" class="form-control">
          </div>
          <button type="submit" class="button-custom mt-3">Filtrer</button>
        </form>
      </div>
    </div>

    <div class="col-9 results">
      <h1 class= "text-end mb-4">Events ouverts autour de vous</h1>
      <% @events.each do |event| %>
        <%= render "event", event: event %>
      <% end %>
    </div>
</div>
