.event-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 250px;
  width: 100%;
  margin: 10px auto
}

.event-card_img {
  height: 70%;
  width: 100%;
  object-fit: cover;
}

.event-card_body {
  padding: 8px;
  position: relative;
}

.event-card_info {
  display: flex;
  justify-content: space-between;
  }
