<!-- app/views/venues/_new_venue_form.html.erb -->
<div class="modal fade" id="venueModal" tabindex="-1" aria-labelledby="venueModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

      <div class="modal-footer">
        <button type="button" class="closing-button" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="button-custom" form="new_venue_form">Ajouter</button>
      </div>
    </div>
  </div>
</div>
