<%= link_to venue_path(venue), :style=>'text-decoration: none; color: inherit' do %>
  <div class="venue-card my-4">
    <img src="https://s1.dmcdn.net/v/Qt3Dy1TPKjzOA6xuH/x720" class="venue-card_img" >
    <div>
      <h4 class="my-0 pt-3 ps-3"><%= venue.name %></h4>
      <div class="venue-card_info">
       <p class="pe-3">À <%= venue.city %></p>
      </div>
  </div>
  </div>
<% end %>
