<div class="venue-card">
  <img src="https://weezevent.com/wp-content/uploads/2018/08/27184514/organiser-un-concert-en-7-etapes.jpg" class="venue-card_img" >
  <div class="venue-card_details">
    <%= venue.name %>
    <%= venue.address %>
    <%= venue.category %>
  </div>
</div>
