<div class="d-flex justify-content-between">
  <div class="row">
    <div class="col-3 side-bar">
      <%= render "users/my-user-card" %>

      <div class="filters p-4">
        <h2>Filtres</h2>
        <form action="/venues" method="get">
          
          <div class="form-group">
            <label for="city">Ville</label>
            <input type="text" name="city" id="city" class="form-control">
          </div>

          <div class="form-group">
            <label for="category">Category</label>
            <input type="text" name="category" id="category" class="form-control">
          </div>

          <% if current_user.role == "tenant" %>
            <button type="button" class="button-custom" data-bs-toggle="modal" data-bs-target="#venueModal">
              Ajouter un lieu
            </button>
          <% end %>

        </form>

      </div>

      <%= render "modal" %>
    </div>
    <div class="col-9 results">
      <h1>Salles proches de chez vous.</h1>
      <% @venues.each do |venue| %>
        <%= render "venue", venue: venue %>
      <% end %>
    </div>
  </div>
</div>
