.button-custom {
  background-color: #ec7b00;
  border-radius: 25px;
  border: none;
  color: white;

  &:hover {
    background-color: #ec7b00;
    opacity: 0.8;
  }
}

.selected-role {
  background-color: #5be670;
  &:hover {
    background-color: #5be670;
  }
}
