.event-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 100px;
  width: 100%;
  margin: 10px auto
}

.event-card_img {
  height: 200px;
  object-fit: cover;
}

.event-card_details {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  }

.event-show_img {
  width: 1280px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
